html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.topo {
    background: #046414;
    padding: 20px 0;
    height: 12rem;
    justify-content: center;
    align-items: center;
}

.logotipo {
    display: inline-block;
    width: 13rem;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    top: -3rem;
    right: -17rem;
}

.nome-loja {
    display: inline;
    font-size: 3rem;
    color: white;
    position: relative;
    top: -10rem;
    right: -32rem;
}